<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Sms Manager-->    
    <add key="Componet.Sms.Uri" value="https://servicesApi.url" />
    <add key="Componet.Sms.Id" value="1" />
    <add key="Componet.Sms.User" value="User" />
    <add key="Componet.Sms.Password" value="Password" />
    <add key="Componet.Sms.Title" value="TITLE" />
  </appSettings>
</configuration>